body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
}

#workspace {
    background-image: url("background2.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
}

.populated-cell {
    border: 1px solid;
    border-color: black;
    background-color: #838383;
    text-align: center;
    vertical-align: middle;
    /* text-transform: uppercase; */
}
.spare-cell {
    background-color: #b1afaf;
}
.info-panel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.info-panel.open {
    right: 0;
}

.mcc-table {
    border-collapse: collapse;
}

.pnl-table {
    border: none;
    border-collapse: collapse;
    width: 500px;
}

th {
    height: 20px;
    background-color: #5f5f5f;
    color: white;
    border: 1px solid black;
}

th:first-child {
    background-color: white;
    border: none;
}

td {
    width: 120px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #bac0be;

}

td:first-child {
    width: 20px;
    background-color: white;
    border: none;
}

.pnl-table td:last-child {
    width: 20px;
    background-color: white;
    border: none;
}

.pnl-table  th:last-child {
    background-color: white;
    border: none;
}

.info-panel>p {
    margin: 0px;
}

.info-panel>p[id] {
    font-weight: bold;
}

p#TAG {
    color: white;
}

p#TAG + p {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

p#Description {
    font-weight: bold;
    padding-top: 25px;
}

p#Description + p {
    padding-bottom: 25px;
}

p#Description {
    font-weight: bold;
}

#home-button {
    width: 40px;
    display: block;
    margin: 10px 10px 10px 10px;
    height: 800px;
    border: 2px solid;
    background-color: grey;
    text-align: center;
    align-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.5em;
    font-weight: bold;
}

#tables-container {
    margin: 10px 0px 0px 0px;
}